
@keyframes header {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

@keyframes bad-boy {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes tombop {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}


@keyframes weias {
    from {
        transform: scale(0);
        opacity: 0.7;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}





@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}


@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
 

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


@keyframes koko {
    from{ color:  #f0e714;
    }
    to{
        color: #f0e9149d;
    }
}

@keyframes neon {
  0%   { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

@keyframes  ab-img{
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    left: 0;              
  }   
}


@keyframes  service{
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fooot {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}
  

@keyframes about {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}
@keyframes cont {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes uses {
    from {
        transform: scale(0);
        opacity: 0.7;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}