#contacts {
  background: white;
  padding: 100px 0;
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .cont-text {
      margin: 30px 0;
      width: 640px;
      animation: cont 2s ease-in-out forwards;;
      a {
      background: #f0e71433;
      color: #101c26;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px;
      display: inline-block;
      transition: transform 0.3s;
    }
    a:hover {
      transform: scale(1.05);
    }
      h1 {
        font-size: 50px;
        line-height: 70px;
        margin: 40px 0 0 0;
      }
      p {
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
        color: #555c68;
        margin: 5px 0;
        display: flex;
        gap: 15px;
        align-items: center;
        ion-icon {
          color: black;
        }
      }
      h6 {
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        color: #555c68;
      }
    }

    .sign {
      animation: weias 2s ease-in-out forwards;
      width: 620px;
      height: 500px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      border-radius: 10px;
      background: #101c26;
      padding: 40px 80px;
      input {
        border: none;
        padding-bottom: 7px;
        border-bottom: 2px solid white;
        width: 400px;
        background: none;
      }
      input:focus {
        outline: none;
        box-shadow: none;
        color: white;
      }
      button {
        width: 180px;
        height: 60px;
        border-radius: 30px;
        border: none;
        background: #f0e714;
        transition: 1s;
      }
      button-fill::before {
        width: 100%;
      }
      button:hover {
        background: rgb(11, 11, 11);
        border: #f0e714 solid 3px;
        color: white;
      }
    }
  }
}
