
#foot{
    background: #101C26;
}

.foot {
  padding: 60px 50px;
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lolo1 {
      width: 330px;
      .ioni {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          width: 90px;
          margin-bottom: 25px;
  animation: float 3s ease-in-out infinite;

        }
        gap: 5px;
        h4 {
          font-size: 30px;
          color: #f5f5f5;
          font-weight: 400;
        }
      }
      p {
        color: #f5f5f5;
        line-height: 25px;
        font-size: 16px;
        font-weight: 200;
        padding: 20px 0;
      }
      .ioio {
        margin: 10px 0;

        ion-icon {
          color: #f0e714;
          transition: 1s;
          font-size: 30px;
          border: none;
        }
        ion-icon:hover {
          color: #3772ff;
        }
      }
    }
    .lolo {
      width: 270px;

      .ioni {
        display: flex;
        flex-direction: column;
        img {
          width: 90px;
        }
        gap: 5px;
        h4 {
          font-size: 30px;
          color: #f5f5f5;
          font-weight: 400;
          margin-bottom: 20px;
        }
        ion-icon {
          color: #f0e714;
          transition: 1s;
          font-size: 30px;
          border: none;
        }
      }
      p {
        color:  #B3B3B3;
        line-height: 40px;
        font-size: 16px;
        font-weight: 200;
        margin: 5px;
        .fo{
            font-size: 18px;
            padding: 0 10px ;
        }
      }
      a {
        color: #b3b3b3;
        line-height: 35px;
        font-size: 16px;
        font-weight: 200;
        transition: 0.2s;
      }
      a:hover{
        color: #f0e714;
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid#CCCCCC;
        border-radius: 7px;
        .ti {
          font-size: 30px;
          color: #447af7;
        }
      }
    }
  }
}

.hr{
    width: 100%;
    height: 1px;
    background:  #b3b3b3;
    margin-top: 40px;
}