#Time {
  background-color: #101c26;
}

#header {
  background-color: #101c26;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  width: 120px;
  height: auto;
}

.teg {
  display: flex;
  gap: 35px;
}

.teg a {
  color: white;
  font-size: 19px;
  font-weight: 400;
  transition: 0.3s;
  border-bottom: 1px solid  #101c26;
}

.teg a:hover {
  color:  gray;
   border-bottom:1px solid gray;
}

.btn{
 display: flex;
 gap: 20px;
    .w{
        width: 150px;
        height: 50px;
        border-radius: 30px;
        background: #F0E714;
        border: none;
        color:  black;
        transition: 0.6s;
    }
    .w:hover{
        background: rgba(255, 255, 255, 0.005);
        color:   #CECECE;
        border: 1px solid  #CECECE;

    }

}