#header {
    max-width: 100%;
  background-color: #101c26 ;
  background-size: inherit;
  padding: 20px 0;
  
}

.header {
    position: relative;
  z-index: 3;
  animation: header 1s forwards;
    height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  

}
.img{
  width: 120px;
    
  animation: float 3s ease-in-out infinite;

}
.img img {
  width: 120px;
  height: auto;
}

.teg {
  display: flex;
  gap: 60px;
}

.teg a {
  color: white;
  font-size: 19px;
  font-weight: 400;
  transition: 0.3s;
  border-bottom: 1px solid  #101c26;
}

.teg a:hover {
  color:   #F0E714;
   border-bottom:1px solid gray;
}
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  margin-right: 30px;
  cursor: pointer;
}
.burger span {
  width: 25px;
  height: 3px;
  background: #eee9e9;
}
.switch{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 80px;
}

.btn{
 display: flex;
 gap: 30px;
    .w{
        width: 150px;
        height: 50px;
        border-radius: 30px;
        background: #F0E714;
        border: none;
        color:  black;
        transition: 0.6s;
    }
    .w:hover{
        background: rgba(255, 255, 255, 0.005);
        color:   #CECECE;
        border: 1px solid  #CECECE;

    }

}
