.textt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    color: white;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: white;
  }
  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: white;
  }
}

.header {
  position: relative;
  animation: header 1s forwards;
}

#url {
  background-color: #101c26;
}

.toys {
  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: bad-boy 0.8s ease-out forwards;
}

.igmt {
  margin-right: -100;
  width: 180;
  height: auto;
  margin-right: 430;

  position: relative;
  animation: tombop 1s forwards;
}

.rex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: #f0e714;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40;
  height: 100;
}

.but {
  position: relative;
  width: 300px;
  margin-top: -10px;
  top: 20;
  right: 25;
  .i {
    width: 130px;
    height: 50px;
    font-size: 18px;
    color: white;
    background: #f0e714;
    border-radius: 30px;
    position: absolute;
    left: 22px;
    color: black;
  }
  .o {
    width: 190px;
    height: 50px;
    font-size: 18px;
    margin-left: 130px;
    margin-bottom: 50px;
    padding-left: 25px;
    color: rgba(35, 31, 31, 0.575);
    background: white;
    border-radius: 0px 30px 30px 0px;
    background: none;
    color: white;
    border: none;
  }
}

.i {
  width: 150;
  height: 50;
  background-color: #f0e714;
  border-radius: 30px;
  border: none;
}

@keyframes header {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

@keyframes bad-boy {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes tombop {
  from {
    right: -500px;
  }

  to {
    right: 0px;
  }
}
