#url {
  background-color: #101c26;
  position: relative;
  height: 90vh;
  padding: 40px 0;
  max-width: 100%;
}
.url {
  position: relative;
  z-index: 3;
}
.back {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 82vw;
}
.textt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  h1 {
    font-weight: 700;
    font-size: clamp(35px, 5vw, 66px);
    line-height: 66px;
    color: white;
  }
  p {
    font-weight: 500;
    line-height: 32px;
    color: white;
    font-size: clamp(8px, 5vw, 20px);
  }
  h3 {
    font-weight: 500;
    line-height: 28px;
    font-size: clamp(8px, 5vw, 20px);

    color: white;
  }
}
.toys {
  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: bad-boy 0.8s ease-out forwards;
}

.starh {
  width: 35px;
  position: absolute;
  left: 95%;
  top: 30%;
  animation: spin 2s linear infinite;
}
.rex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: #f0e714;
    animation: koko 2s infinite;
  }
}

.igmt {
   
  height: auto;margin-right: 0;
  max-width: 100%;
  position: relative;
  animation: tombop 1s forwards;
  img {
     max-width: 100%;
  height: auto;
  }
}

.card {
  position: absolute;
  left: 42%;
  width: 202;
  height: 235px;
  top: 280px;

  animation: weias 2s ease-in-out forwards;
}

.but {
  display: flex;
  gap: 10px;
  position: relative;
  width: 300px;
  margin-top: -10px;
  top: 20px;
  right: 25px;
  .i {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background: #f0e714;
    border-radius: 30px;
    position: absolute;
    left: 22px;
    color: black;
    transition: 0.5s;
    ion-icon {
      width: 35;
      height: 15px;
    }
  }
  .i:hover {
    width: 150px;
    height: 50px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: white;

    background: white;
    border-radius: 0px 30px 30px 0px;
    background: none;
    border: none;
  }
  .o {
    width: 190px;
    height: 50px;
    font-size: 16px;
    margin-left: 180px;
    margin-bottom: 50px;
    color: rgba(245, 239, 239, 0.935);
    background: white;
    border-radius: 30px;
    background: none;
    border: none;
    transition: 0.5s;
    ion-icon {
      font-size: 20px;
    }
  }
  .o:hover {
    border-radius: 30px;
    background-color: #f0e714;
    border-radius: 30px;
    color: black;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  height: 100px;

  img {
    width: 160px;
  }
  img:hover {
    filter: invert(3%) sepia(70%) saturate(1000%) hue-rotate(0deg)
      brightness(100%) contrast(100%);
  }
}
