@import "./reset.css";
@import "./media.css";
@import "./animations.css";
@import "./header.css";
@import "./service.css";
@import "./testimonial.css";
@import "./contact.css";
@import "./footer.css";
@import "./hero.css";
@import "./use.css";
@import "./About.css";
@import "./choose.css";

