@import "./reset.css";
@import "./media.css";
@import "./header.css";
@import "./hero.css";

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  .text-line {
    width: 640px;
    text-align: center;
    a {
      background: #f0e71433;
      color: #101c26;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px;
    }
    h1 {
      font-size: 50px;
      line-height: 70px;
      margin: 15px;
    }
    p {
      font-size: 21px;
      font-weight: 300;
      line-height: 32px;
      color: #555c68;
    }
  }
  .vacancy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    margin: 40px 0;
    .product {
      box-shadow: #101c2626 0 3px 2px 2px;
      background: white;
      width: 300px;
      height: 240px;
      border-radius: 10px;
      padding: 20px;
      transition: 1s;

      h4 {
        font-size: 28px;
        font-weight: 500;
        margin: 18px 0;
      }
      p {
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
        color: #555c68;
      }
    }
    .product:hover {
      box-shadow: #101c2626 0 6px 7px 9px;
    }
  }
}

#testimonial {
  margin: 40px 0;
}
.testimonial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .text-line {
    width: 640px;
    text-align: center;

    a {
      background: #f0e71433;
      color: #101c26;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px;
    }
    h1 {
      font-size: 50px;
      line-height: 70px;
      margin: 10px;
    }
    p {
      font-size: 21px;
      font-weight: 300;
      line-height: 32px;
      color: #555c68;
    }
  }
  .scrolling {
    max-width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;

    .first {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      width: 560px;
      height: 400px;
      background: white;
      border-radius: 10px;
      padding: 24px;
      transition: 1s;
      flex-shrink: 0;
      img {
        width: 60px;
      }
      .star {
        width: 90px;
      }
      h5 {
        font-size: 14px;
      }
      p {
        color: #8791a0;
        font-size: 12px;
      }
      .q {
        font-size: 20px;
        font-weight: 500;
        font-family: Inter, sans-serif;
        line-height: 30px;
        letter-spacing: 1px;
        span {
          color: orange;
          font-size: 50px;
        }
      }
    }
    .first:hover {
      box-shadow: #101c2626 0 6px 7px 9px;
    }
  }
}

#contacts {
  background: white;
  padding: 100px 0;
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .cont-text {
      margin: 30px 0;

      width: 640px;
      a {
        background: #f0e71433;
        color: #101c26;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 30px;
      }
      h1 {
        font-size: 50px;
        line-height: 70px;
        margin: 40px 0 0 0;
      }
      p {
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
        color: #555c68;
        margin: 5px 0;
        display: flex;
        gap: 15px;
        align-items: center;
        ion-icon {
          color: black;
        }
      }
      h6 {
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        color: #555c68;
      }
    }

    .sign {
      width: 620px;
      height: 500px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      border-radius: 10px;
      background: #101c26;
      padding: 40px 80px;
      input {
        border: none;
        padding-bottom: 7px;
        border-bottom: 2px solid white;
        width: 400px;
        background: none;
      }
      input:focus {
        outline: none;
        box-shadow: none;
        color: white;
      }
      button {
        width: 180px;
        height: 60px;
        border-radius: 30px;
        border: none;
        background: #f0e714;
        transition: 1s;
      }
      button:hover {
        background: white;
      }
    }
  }
}

#foot {
  background: #101c26;
  height: 400px;

  .hr {
    width: 100%;
    background: #989898;
    height: 1px;
    margin: 40px 0 0 0;
  }
}

.foot {
  padding: 60px 50px;
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lolo1 {
      width: 330px;
      .ioni {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          width: 90px;
        }
        gap: 5px;
        h4 {
          font-size: 30px;
          color: #f5f5f5;
          font-weight: 400;
        }
      }
      p {
        color: #f5f5f5;
        line-height: 25px;
        font-size: 16px;
        font-weight: 200;
        padding: 20px 0;
      }
      .ioio {
        margin: 10px 0;

        ion-icon {
          color: #f0e714;
          transition: 1s;
          font-size: 30px;
          border: none;
        }
        ion-icon:hover {
          color: #3772ff;
        }
      }
    }
    .lolo {
      width: 270px;

      .ioni {
        display: flex;
        flex-direction: column;
        img {
          width: 90px;
        }
        gap: 5px;
        h4 {
          font-size: 30px;
          color: #f5f5f5;
          font-weight: 400;
          margin-bottom: 20px;
        }
        ion-icon {
          color: #f0e714;
          transition: 1s;
          font-size: 30px;
          border: none;
        }
      }
      p {
        color: #f5f5f5;
        line-height: 25px;
        font-size: 16px;
        font-weight: 200;
      }
      a {
        color: #b3b3b3;
        line-height: 35px;
        font-size: 16px;
        font-weight: 200;
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid#CCCCCC;
        border-radius: 7px;
        .ti {
          font-size: 30px;
          color: #447af7;
        }
      }
    }
  }
}
