* {
  margin: 0;
  padding: 0;
  font-family: ITC Avant Garde Gothic Std, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #eeeded;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

