#use{
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
}
.use {
  .use-he {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .he-a {
      animation: weias 2s ease-in-out forwards;
      width: 500px;
      a {
      background: #f0e71433;
      color: #101c26;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px;
      display: inline-block;
      transition: transform 0.3s;
      }
      a:hover {
      transform: scale(1.05);
      }
      h1 {
        font-size: 44px;
      }
    }
    .use-ion {
      animation: uses 2s ease-in-out forwards;
      ion-icon {
        font-size: 50px;
      }
    }
  }
  .use-box {
    display: flex;
     
    gap: 30px;
    .use-read {
        max-width: 500px;
      width:  100%;

      .use-hotel {
  animation: weias 2s ease-in-out forwards;

        img {
          width: 500px;
          height: 600px;
        }
        .stupid-img {
          height: 600px;
          width: 300px;
          
        }
        .hotel-infa {
          h1 {
            font-size: 34px;
          }
          p {
            color: #555c68;
            font-size: 20px;
            margin: 10px 0;
          }
        }
        .hotel-infa1 {
          h1 {
            font-size: 34px;
          }
          p {
            color: #555c68;
            font-size: 20px;
            margin: 10px 0;
            width: 300px;
          }
        }
      }
    }
  }
}
 .use-read1 {
  animation: weias 2s ease-in-out forwards;
      

      .use-hotel {
        img {
          width: 500px;
          height: 600px;
        }
        .stupid-img {
          height: 600px;
          width: 300px;
          
        }
        .hotel-infa {
          h1 {
            font-size: 34px;
          }
          p {
            color: #555c68;
            font-size: 20px;
            margin: 10px 0;
          }
        }
        .hotel-infa1 {
          h1 {
            font-size: 34px;
          }
          p {
            color: #555c68;
            font-size: 20px;
            margin: 10px 0;
            width: 300px;
          }
        }
      }
    }